.Button {
    background-color: #6D9DC5;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    align-self: center;
}

.Button:hover {
    background-color: #121420;
    transition: background-color 0.3s ease;
}

.CenterButton {
    display: flex;
    justify-content: center;
    align-items: center;
}