.Review {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}

.ReviewUser {
    display: flex;
    flex-direction: column;
}

.Details {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.ReviewContent {
    width: 100%;
    height: auto;
    text-align: justify;
}

.Actions {
    text-align: center;
}